{% extends "blog/base.html" %}


{% block content %}
  <h1>User List</h1>
  <table>
    <thead>
      <tr>
        <th>Picture</th>
        <th>Username</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td> <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"></td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}